
<div class="container">
    <div class="mt-4">
        <H4 style="text-align: left;">SẢN PHẨM</H4>
        <div class="row">
            {{#each sanphams}}
            <div class="col-sm-6 col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="/img/{{this.hinhanh}}" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title"> {{this.tensp}} </h3>
                        <h5 class="card-text"> Giá: {{this.giasp}}.đ</h5>
                        <h5 class="card-text"> khuyến mãi: {{this.khuyenmai}}% </h5>
                        <p><strong>Thông tin chi tiết:</strong> {{this.thongtinsp}}</p>
                    </div>
                </div>
            </div>
            {{else}}
            <div class="container">
                <p style="text-align: center;">Không có sản phẩm nào</p>
            </div>
            {{/each}}
        </div>
    </div>
</div>
