<div class="container">
  <div>
    <h3>DANH SÁCH CÁC THÔNG BÁO</h3>
    <table class="table table-hover table-striped" id="table_T">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Tên Thông Báo</th>
          <th scope="col">Nội Dung</th>
          <th scope="col">Ngày Đăng</th>
          <th scope="col">Hết Hạn</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        {{#each tuyendungs}}
        <tr>
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.tenTD}}</td>
          <td>{{this.noidungTD}}</td>
          <td class="format_ngay">{{this.createdAt}}</td>
          <td class="format_ngay">{{this.hethan}}</td>
          <td>
            <a style="padding: 0;" href="/TuyenDung/{{this._id}}/edit" class="btn btn-outline-warning">
              <img src="../../img/edit.png" alt="" width="40px" height="40px">
            </a>
          </td>
          <td><a style="padding: 0;" href="" data-toggle="modal" class="btn btn-outline-danger" data-id="{{this._id}}"
              data-target="#goTB">
              <img src="../../img/remove.png" alt="" width="40px" height="40px">
              </a>
          </td>
        </tr>

        {{else}}
        <tr>
          <td colspan="5" style="color: red;" class="text-center"> Không có thông báo nào!
            <a style="padding: 0;" href="/TuyenDung/create" class="btn btn-success"> 
            <img src="../../img/add.png" alt="" width="40px" height="40px">
            </a>
          </td>
        </tr>

        {{/each}}
      </tbody>
    </table>

  </div>

  <!-- Model Ẩn San Pham -->
  <div class="modal fade" id="goTB" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Bạn có chắc chắn muốn gỡ bỏ thông báo tuyển dụng này không?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          <button type="button" id="btnGoTB" class="btn btn-success">OK</button>
        </div>
      </div>
    </div>
  </div>

  {{!-- form xu ly gỡ bỏ thông báo --}}
  <form name="formgoTB" method="POST" style="display: none;"></form>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var idsp;
      var formgoTB = document.forms['formgoTB'];
      var btnGoTB = document.getElementById('btnGoTB');

      $('#goTB').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        idsp = button.data('id');

      });

      btnGoTB.onclick = function () {
        formgoTB.action = '/TuyenDung/' + idsp + '/SoftDelete';
        formgoTB.submit();
      }

    });
  </script>

  <script src="../../javascript/script.js"></script>

</div>