<div class="container">
  <div>
    <h3>DANH SÁCH NHÂN VIÊN</h3>
    <table class="table table-hover table-striped table-responsive" Width=100% id="table_T">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Ảnh</th>
          <th scope="col">Tên</th>
          <th scope="col">SDT</th>
          <th scope="col">Email</th>
          <th scope="col">Ngày Sinh</th>
          <th scope="col">Giới Tính</th>
          <th scope="col">Địa Chỉ</th>
          <th scope="col">Loại</th>
          <th scope="col">User_Name</th>
          <th colspan="2"> </th>
        </tr>
      </thead>
      <tbody>
        {{#each taikhoan}}
        <tr>
          <th scope="row">{{sum @index 1}}</th>
          <td><img src="../img/{{this.avt}}" alt="no_image" width="20px" height="20px" id="avt_td"></td>
          <td>{{this.ten}}</td>
          <td>{{this.sdt}}</td>
          <td>{{this.email}}</td>
          <td class="format_ngay">{{this.ngaysinh}}</td>
          <td>{{this.gioitinh}}</td>
          <td>{{this.diachi}}</td>
          <td>{{this.loai}}</td>
          <td>{{this.username}}</td>
          <td>
            <a style="padding: 0;" class="btn btn-outline-warning" href="/NhanVien/{{this._id}}/edit" >
            <img src="../../img/edit.png" alt="" width="40px" height="40px">
            </a>
          </td>
          <td>
            <a href="" style="padding: 0;" data-toggle="modal" class="btn btn-outline-danger" data-id="{{this._id}}"
              data-target="#xoa_NV">
            <img src="../../img/remove.png" alt="" width="40px" height="40px">  
            </a>
          </td>
        </tr>

        {{else}}
        <tr>
          <td colspan="9" class="text-center"> Chưa có nhân viên nào!
            <a style="padding: 0;" href="/NhanVien/create" class="btn btn-success"> 
              <img src="../../img/add.png" alt="" width="40px" height="40px">
            </a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>

  </div>

  <!-- Model Ẩn nhan vien -->
  <div class="modal fade" id="xoa_NV" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Bạn có chắc chắn muốn xóa nhân viên này không?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          <button type="button" id="btn_xoa_NV" class="btn btn-success">Ok</button>
        </div>
      </div>
    </div>
  </div>

  {{!-- form xu ly xoa san pham --}}
  <form name="formXoa_NV" method="POST" style="display: none;"></form>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var idsp;
      var formXoa_NV = document.forms['formXoa_NV'];
      var btn_xoa_NV = document.getElementById('btn_xoa_NV');

      $('#xoa_NV').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        idsp = button.data('id');

      });

      btn_xoa_NV.onclick = function () {
        formXoa_NV.action = '/NhanVien/' + idsp + '/anNV';
        formXoa_NV.submit();
      }
    });
  </script>

  <script src="../../javascript/script.js"></script>

</div>